<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Game matematika dengan konsep perjalanan kota fiksi">
  <meta name="theme-color" content="#2a9d8f">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

  <title>MathCity Adventures</title>
</head>
<body>
  <audio id="bg-music" loop>
    <source src="music/bg-music.mp3">
  </audio>
  <audio id="clickSound" src="music/click.mp3" preload="auto"></audio>
  <audio id="dropdownProfile" src="music/dropdown-profile.mp3" preload="auto"></audio>
  <audio id="missionSfx" src="music/mission.mp3" preload="auto"></audio>
  <audio id="progressBarItemSfx" src="music/item-collect.mp3" preload="auto"></audio>
  <audio id="correctAnswerSfx" src="music/correct-answer.mp3" preload="auto"></audio>
  <audio id="wrongAnswerSfx" src="music/wrong-answer.mp3" preload="auto"></audio>
  <audio id="feedbackSfx" src="music/feedback.mp3" preload="auto"></audio>
  <audio id="bulletSfx" src="music/bullets.mp3" preload="auto"></audio>
  <audio id="slideQuizSfx" src="music/slide-quiz.mp3" preload="auto"></audio>
  <audio id="rewardCardSfx" src="music/card-reward.mp3" preload="auto"></audio>
  <audio id="wrapperResultSfx" src="music/wrapper-result.mp3" preload="auto"></audio>
  <audio id="itemResultSfx" src="music/item-result.mp3" preload="auto"></audio>
  <audio id="numberCountingSfx" src="music/counting-number.mp3" preload="auto"></audio>
  <audio id="quizEndSfx" src="music/quiz-end.mp3" preload="auto"></audio>
  <audio id="stampSfx" src="music/stamp.mp3" preload="auto"></audio>
  <audio id="putItemSfx" src="music/put-item.mp3" preload="auto"></audio>
  <audio id="gradeSfx" src="music/grade.mp3" preload="auto"></audio>
  <audio id="totalCandySfx" src="music/total-candy.mp3" preload="auto"></audio>
  
  <header class="app-bar" id="app-bar">
    <div class="app-bar__user-identity">
      <button id="btn-profile" class="user-identity__photo no-click-sound">
        <img class="avatar-img" src="">
      </button>
      <div class="profile-menu">
        <ul>
          <li class="user-info">
            <p id="fullName"></p>
            <div class="exp">
               <p></p>
            </div>
          </li>
          <li>
            <button id="btnEdit">
              <img src="compose.png">
            </button>
            <button id="btn-logout">Keluar</button>
          </li>
        </ul>
      </div>
      <div id="nickName" class="user-identity__name"></div>
    </div>
    <div class="candy-container">
      <img src="candy.png">
      <p id="candy"></p>
    </div>
    <div class="app-bar__menu">
      <button id="humberger-button">☰</button>
    </div>
    <nav id="navigation-drawer" class="app-bar__navigation">
      <ul>
        <li>
          <a href="#/collection" class="button">
            <i class="fa-solid fa-trophy"></i>
            KOLEKSI
          </a>
        </li>
        <li>
          <a href="#/leaderboard" class="button">
            <i class="fa-solid fa-ranking-star"></i>
            PAPAN PERINGKAT
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main id="content">
    
  </main>
  <footer>
    <p>&copy; 2024 MathCity Adventures. Developed with <span style="color: #ffa69e;">❤︎</span> by <span style="color: #9d8189; font-weight: bold;">Hazelnad</span>.</p>
  </footer>

  
</body>
<script src="https://kit.fontawesome.com/6d173f80fe.js" crossorigin="anonymous"></script>
</html>